<div class="container">
  <!-- <h1>HELLO WORLD</h1>
  IAM {{title}}
  {{name}}
  this changes {{varbind}}
  <input type="text" style="float: right;" [(ngModel)]="name" />
  <input type="text" [(ngModel)]="varbind" />

  <br />
  <br />

  <div class="row">
    <div class="col-md-3">
      <app-about></app-about>
    </div>
     <div class="col-md-5">
      <app-newcomp></app-newcomp>
    </div>
    <div class="col-md-4">
      <app-about></app-about>
    </div>
    <div class="col-md-4">
      <app-sttings>
        </app-sttings>
    </div>
    <div class="col-md-4">
      <app-addsetttings>
        </app-addsetttings>
    </div>
    <div class="col-md-4">
      <app-loginpage></app-loginpage>
    </div>
    <div class="col-md-4">
      <app-description></app-description>
    </div>





  </div>  -->
  <app-about></app-about>
  


</div>