<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control"  id="username" name="username" [(ngModel)] = "userSettings.name" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control"  id="username" name="username" [(ngModel)] ="userSettings.email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control"  id="password" name="password" [(ngModel)] ="userSettings.password" required>
        </div>
        <input type="submit" name="submit" value="Save" class="btn btn-primary"[disabled]="!form.valid" />
        
    </form>
    <h1>{{msg}}</h1>

    {{ userSettings | json}}